* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner-box {
    width: calc(100% - 150px);
    height: calc(100% - 150px);
    position: relative;
}

#circle {
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    font-size: 100px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
