* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding: 30px;
    background-color: lightblue;
}

#inner-box {
    height: 100%;
    position: relative;
}

#circle {
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    font-size: 40px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
